*.o
*.a
/Makefile
/emuos/build
/src/Makefile
/tools/Makefile
/DOC/Makefile
/src/atari800
/src/android/bin
/src/android/gen
/src/android/jni/Android.mk
/src/android/libs
/src/android/obj
/src/android/local.properties
/src/android/proguard-project.txt
src/guess_settings
src/libatari800_test
/tools/cart
/config.log
/config.status
.deps
.dirstamp
stamp-*
*~
test.tos
